#contenu1, #contenu2 {
    height: 1440px;
    width: 1080px;
}
/* #contenu1 {
    background-color: salmon;
} */
/* #contenu2 {
    background-color: goldenrod;
} */

body {
    padding-top: 70px;
}

nav {
    background-color: black;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

nav a {
    padding-left: 40px;
    text-decoration: none;
    color: white;
}